.rotate {
  animation: rotate 4s linear infinite;
  transform-origin: center;
}

.footer {
  padding-top: 2rem; 
  padding-bottom: 2rem; 
}
  
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}